body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #000000;
}

.navbar {
    background-color: #050529;
}

.navbar-brand, .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #F88732;
}

.banner {
    background: url('/studio.png') no-repeat center center;
    background-size: cover;
    color: #000000;
    padding: 100px 0;
    text-align: center;
    background-color: #F88732;
}

.banner h1 {
    color: #F88732;
}

section {
    padding: 60px 0;
}

h2 {
    color: #050529;
    margin-bottom: 30px;
}

p, ul {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

.bg-light {
    background-color: #f8f9fa;
}

.footer {
    background-color: #050529;
    color: #fff;
}

.btn-light {
    background-color: #F88732;
    color: #fff;
}

.btn-light:hover {
    background-color: #e67626;
}

footer {
    padding: 10px;
    text-align: center;
    color: #fff;
}
